In [1]:
import pandas as pd
df = pd.read_csv("서울교통공사_역별 월별 노인 승하차인원 정보_20220831.csv",encoding='cp949')

In [2]:
df

        연번  호선  고유역번호(외부역코드)   역명 승하차구분     수송연월  승하차인원수
0        1   1           150  서울역    승차  2022-01  118173
1        2   1           150  서울역    하차  2022-01  111415
2        3   1           151   시청    승차  2022-01   47686
3        4   1           151   시청    하차  2022-01   46713
4        5   1           152   종각    승차  2022-01   87092
...    ...  ..           ...  ...   ...      ...     ...
4347  4348   8          2826   수진    하차  2022-08   35429
4348  4349   8          2827   모란    승차  2022-08   42817
4349  4350   8          2827   모란    하차  2022-08   33684
4350  4351   8          2828  남위례    승차  2022-08   20016
4351  4352   8          2828  남위례    하차  2022-08   20257

[4352 rows x 7 columns]

In [ ]:
1. 1,2호선 각각에서 상/하반기의 승하차인원수 차이가 나는지 확인해보기
2. 서울역, 강남역 간의 승하차인원수 차이가 나는지 확인해 보기

In [28]:
line1= df[df['호선']==1]
line2= df[df['호선']==2]
line12 = pd.concat([line1, line2])
early_months = df['수송연월'].isin(['2022-01','2022-02','2022-03','2022-04','2022-05','2022-06'])
later_months = df['수송연월'].isin(['2022-07','2022-08'])

In [36]:
a=sum(line1[early_months]['승하차인원수'])

C:\Users\user\AppData\Local\Temp\ipykernel_11524\2849437685.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  a=sum(line1[early_months]['승하차인원수'])

In [37]:
b=sum(line2[early_months]['승하차인원수'])

C:\Users\user\AppData\Local\Temp\ipykernel_11524\4059838000.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  b=sum(line2[early_months]['승하차인원수'])

In [38]:
from scipy import stats
stats.ttest_ind(a, b)

C:\Users\user\AppData\Local\Temp\ipykernel_11524\671386890.py:2: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  stats.ttest_ind(a, b)
C:\Users\user\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1250: RuntimeWarning: divide by zero encountered in true_divide
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero
C:\Users\user\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1250: RuntimeWarning: invalid value encountered in double_scalars
  var *= np.divide(n, n-ddof)  # to avoid error on division by zero

Ttest_indResult(statistic=nan, pvalue=nan)

In [39]:
stats.ks_2samp(a, b)

AxisError: axis -1 is out of bounds for array of dimension 0

In [29]:
sum(line1[later_months]['승하차인원수'])

C:\Users\user\AppData\Local\Temp\ipykernel_11524\3401240030.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sum(line1[later_months]['승하차인원수'])

6128437

In [30]:
sum(line2[later_months]['승하차인원수'])

C:\Users\user\AppData\Local\Temp\ipykernel_11524\3242143235.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sum(line2[later_months]['승하차인원수'])

15066943

In [32]:
sum(df[df['역명']=='서울역']['승하차인원수'])

2612678

In [34]:
sum(df[df['역명']=='강남']['승하차인원수'])

1851825