In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df2 = pd.read_csv('./CS_T_T_STD_COST.csv', encoding='cp949')
df2 = df2[df2['일일대당원가'] > 10000]
df2

,연번,업체아이디,킬로미터당원가,관할행정아이디,입력일자,최종처리자아이디,수정일자,영역분류,일일대당원가,평가연도,평가차수
0,1,1041,622,3.0,2012-07-10,1,2012-07-10,1,307546,2012,19
1,2,1000,461,30.0,2012-07-10,1,2012-07-10,2,305872,2012,19
2,3,1006,511,30.0,2012-07-10,1,2012-07-10,2,289164,2012,19
3,4,1010,494,30.0,2012-07-10,1,2012-07-10,2,214690,2012,19
4,5,1011,374,30.0,2012-07-10,1,2012-07-10,2,219583,2012,19
...,...,...,...,...,...,...,...,...,...,...,...
3274,3275,1036,547,1.0,2012-07-10,1,2012-07-10,1,410318,2012,19
3275,3276,1038,547,1.0,2012-07-10,1,2012-07-10,1,410318,2012,19
3276,3277,1039,547,1.0,2012-07-10,1,2012-07-10,1,410318,2012,19
3277,3278,1025,622,3.0,2012-07-10,1,2012-07-10,1,307546,2012,19
3278,3279,1034,622,3.0,2012-07-10,1,2012-07-10,1,307546,2012,19

In [40]:
#1027,1009,1024,1040
#킬로미터당원가
plt.figure(figsize=(5,3))
sns.boxplot(x='업체아이디' y='킬로미터당원가',data=df3)
plt.rcParams['font.family'] = 'Malgun Gothic'

SyntaxError: invalid syntax (1459182916.py, line 4)

In [38]:
df3=df2[df2['업체아이디'].isin([1027,1009,1024,1040])]

,연번,업체아이디,킬로미터당원가,관할행정아이디,입력일자,최종처리자아이디,수정일자,영역분류,일일대당원가,평가연도,평가차수
202,203,1024,503,6.0,2013-07-20,1,2013-07-24,1,226862,2013,26
206,207,1009,570,5.0,2013-07-20,1,2013-07-24,1,351689,2013,26
216,217,1024,503,6.0,2013-09-01,1,2013-09-01,1,226862,2013,28
220,221,1009,570,5.0,2013-09-01,1,2013-09-01,1,351689,2013,28
283,284,1027,554,30.0,2013-07-20,1,2013-07-23,2,229977,2013,26
...,...,...,...,...,...,...,...,...,...,...,...
3169,3170,1040,548,30.0,2012-07-10,1,2012-07-10,2,283075,2012,19
3187,3188,1009,554,5.0,2012-07-11,1,2012-07-11,1,341125,2012,22
3189,3190,1024,554,6.0,2012-07-11,1,2012-07-11,1,225437,2012,22
3252,3253,1009,491,5.0,2012-07-10,1,2012-07-10,1,333017,2012,19
3254,3255,1024,496,6.0,2012-07-10,1,2012-07-10,1,223262,2012,19

In [25]:
df2[pd.Series([i in [1027,1009,1024,1040] for i in df2['업체아이디']])]

0       False
1       False
2       False
3       False
4       False
        ...
3274    False
3275    False
3276    False
3277    False
3278    False
Length: 3279, dtype: bool

In [35]:
from scipy import stats
df2_1027=df2_mask2['업체아이디']==1027
stats.shapiro(df2_1027)

NameError: name 'df2_mask2' is not defined

In [43]:
stats.probplot(df2_1040,plot=plt)
plt.show()

NameError: name 'df2_1040' is not defined

In [45]:
!pip install statannot

Collecting statannot
  Downloading statannot-0.2.3-py3-none-any.whl (10 kB)
Installing collected packages: statannot
Successfully installed statannot-0.2.3

In [ ]:
from statannot import

In [ ]:
ax=plt.subplot()
ax=sns.boxplot(
    data=df2_mask2,
    x='업체아이디',
    y='킬로미터당원가')

add_stat_annotation(ax, #ax=figure이름
                    data=df2_mask2, 
                    x='업체아이디', #x축(column이름)
                    y='킬로미터당원가', #y축(column이름)
                    box_pairs=[(('1009'),('1040'))],#분석할 박스플롯의 쌍을 입력(리스트로 입력받음, 한쌍마다 튜플로 묶어둠)
                    test='t-test_welch',#분석할 T-test의 종류, 모를 경우 여기에 에러 발생시키면 알려줌
                    text_format='star',#T-test 결과를 별 표시로 알려줌
                    loc='inside',
                    verbose=2)

In [47]:
df=pd.read_csv("한국전력거래소_제주 월별 발전기별 전력거래량_20211231.csv", encoding='cp949')

In [48]:
df

,발전기,201101,201102,201103,201104,201105,201106,201107,201108,201109,...,202103,202104,202105,202106,202107,202108,202109,202110,202111,202112
0,발전기0001,54657.31555,39325.153730,53301.020640,49592.452670,46606.725090,50377.604030,48342.128580,51800.849860,46159.914750,...,22087.55315,11185.084290,5847.593248,1505.605696,38963.74518,40487.12842,23618.29725,13001.48976,17204.95997,30964.30826
1,발전기0002,56520.94022,50629.928380,55969.209180,47019.531100,51545.234720,50407.589790,55159.263710,55124.262370,50830.185060,...,35593.20419,29340.490820,26708.881700,37849.296350,39372.97056,40838.02038,37949.23328,35797.10870,32089.44928,40036.36224
2,발전기0003,40181.46350,19984.056290,12194.137030,31749.958460,31684.451060,7781.841816,39777.652320,31707.212380,15844.825420,...,32848.61614,27579.183740,26074.221430,30757.368600,25727.37569,31614.55063,28776.89590,21436.09423,17942.12230,31222.43914
3,발전기0004,38286.80033,32464.780320,25407.449090,2571.340128,34053.293570,35425.791070,36616.512240,36217.871930,33895.085450,...,32857.36692,29540.263540,19705.831990,29512.993610,32324.30796,32234.39906,30899.96498,28034.04290,21841.85438,31571.30357
4,발전기0005,13260.89677,3637.510688,4613.547288,3071.660312,6762.977984,2318.547728,1960.776888,856.568496,2967.654424,...,32136.56858,5268.528216,32334.196220,40612.077630,37362.84658,31015.11756,48021.56694,45628.62511,41358.75156,42148.97775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,발전기1208,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,1.60788
1208,발전기1209,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,7.86100
1209,발전기1210,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,4.55824
1210,발전기1211,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,4.78960
1211,발전기1212,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [52]:
sum(df['201101'])

292949.2628749999

In [53]:
sum(df['201102'])

213425.28708699998

In [54]:
sum(df['201103'])

234374.059363

In [57]:
sns.histplot(df['201101','201102'])

KeyError: ('201101', '201102')