In [41]:
x = int(input("Input a number: "))
i,m,s = 1,1,0

if x % 2 == 0:
    while i < x+1:
        m *= i
        i += 1
    print(m)
else:
    for i in range(x+1): 
        s += i
    print(s)

Input a number: 5
15

In [17]:
for i in range(100,397,4): print(i, end=' ')

100 104 108 112 116 120 124 128 132 136 140 144 148 152 156 160 164 168 172 176 180 184 188 192 196 200 204 208 212 216 220 224 228 232 236 240 244 248 252 256 260 264 268 272 276 280 284 288 292 296 300 304 308 312 316 320 324 328 332 336 340 344 348 352 356 360 364 368 372 376 380 384 388 392 396

In [28]:
l = [99,66,8,74,'ABC','456']
i = 0
while i<len(l): 
    print(l[i])
    i += 1

99
66
8
74
ABC
456

In [6]:
x='99,25,4,5,6,7,8'
l=['77','a',x,'66','hello']
i=0
while i<len(l):
    if l[i]==x:
        print(l[i])
    i += 1

99,25,4,5,6,7,8

In [18]:
x='99,25,4,5,6,7,8'
for i in range(7):
    print(x[i])

9
9
,
2
5
,
4

In [92]:
color = ["red", "blue"]
size = ["small","big"]
fruits = ["apple", "banana"]
animals = ["dog", "cat"]

for a in color: 
    for b in size:
        for c in fruits:
            print(a,b,c) 
    for d in size:
        for e in animals:
            print(a,d,e)

red small apple
red small banana
red big apple
red big banana
red small dog
red small cat
red big dog
red big cat
blue small apple
blue small banana
blue big apple
blue big banana
blue small dog
blue small cat
blue big dog
blue big cat